#overview_listbox {
    margin: 16px;
}

#overview_listbox frame {
    padding: 16px;
}

#overview_listbox frame > box {
    margin-left: 16px;
    margin-top: 6px;
}

#overview_listbox frame > label {
    font-weight: bold;
}

#overview_listbox row {
    background-color: rgba(0, 0, 0, 0);
}

#add_backup_button {
    margin: 16px;
}

#include_exclude_box {
    margin-right: 16px;
}
